.nav {
  width: 90%;
  height: 10vh;
  border-radius: 50px;
  color: white;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 10px auto;
  padding: 10px;
  background: linear-gradient(to top, black, rgb(59, 35, 73));
  font-family: Roboto, sans-serif;
}
.logo {
  width: 20%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  letter-spacing: 2px;
  font-size: 2rem;
  cursor: pointer;
}

.ul {
  position: relative;
  z-index: 1000;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center !important;
  width: 70%;
}

.ul li {
  vertical-align: top;
  padding-top: 20px;
  cursor: pointer;
  margin: 0px;
  color: rgb(255, 158, 68) !important;
  text-decoration: none !important;
  display: inline-table;
}

/* .ul li:after {
  position: absolute;
  left: 108px;
  content: "";
  height: 40px;
  width: 93px;
  border-bottom: solid 3px rgb(255, 158, 68);

  transition: left 250ms ease-in-out, right 250ms ease-in-out;
  opacity: 0;
}

.ul li:hover:after {
  opacity: 1;
} */

.ul li a {
  text-decoration: none;
  color: rgb(255, 158, 68);
  font-size: larger;
}
.ul li a:hover {
  color: rgb(255, 158, 68);
}

.dropbtn {
  background-color: transparent;
  color: rgb(255, 158, 68);

  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  transition: all 0.3s;
}

.dropdowncontent {
  height: 120px;
  width: 120px;
  position: absolute;
  background: linear-gradient(to top, black, rgb(59, 35, 73));
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.3s;
}

.dropdowncontent a {
  color: rgb(255, 158, 68);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdowncontent {
  display: block;
  opacity: 1;
}

@media (max-width: 375px) {
  .nav {
    height: 7vh;
    width: 99%;
    margin: 0;
  }
  .logo {
    width: 28%;
  }
  .ul {
    width: 72%;
    font-size: 9px;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    height: 5vh !important;
  }
  .ul li {
    vertical-align: middle;
    padding-top: 0px;
    cursor: pointer;
  }
  .dropbtn {
    padding: 0;
    font-size: 11px;
  }

  .dropdown:hover .dropdowncontent {
    left: -43px;
    height: 78px;
    width: 83px;
  }
}
@media (max-width: 1024px) {
  .logo {
    width: 35%;
  }

  .ul {
    height: 9vh;
    margin: 0;
  }
  .ul li {
    vertical-align: middle;
    padding-top: 0px;
    cursor: pointer;
  }
}
